/* Her arbejder vi på Body                      */

body {
    background-color: #D5EDFA;
}

/* Her arbejder vi på vores Grid                */

#grid_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}


/* Her arbejder vi på typografi                 */

p {
    font-family: sans-serif;
}

h1 {
    font-size: 2.7vw;
    font-family: 'roberto', sans-serif;
}

h2 {}


/* Her arbejder vi på vores navigation         */

#nav_top {
    background-color: #f1f1f1;
    grid-column: 1/13;
    text-align: center;
}

/***** DROP DOWN ********/

.dropbtn {
    background-color: #f1f1f1;
    color: rgba(5, 41, 81, 0.6);
    padding: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    text-align: left;
}

/* Dropdown button on hover & focus */

.dropdown-content a:hover,
.dropdown-content a:focus {
    color: rgba(5, 41, 81, 0.6);
    background-color: #f1f1f1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D5EDFA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    color: #C0576C;
    padding: 25px 25px;
    text-decoration: none;
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: rgba(5, 41, 81, 0.6);
    font-size: 12px;

}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Her arbejder vi på vores Call to action:    */

footer {
    position:static;
    background-color: #E10E49;
    grid-column: 1/13;
    margin-top: 90vh;
/*    z-index: 2;*/
}

#buy {
    grid-column: 4/6;
    margin-left: 50vw;
    /*         HJÆLP           */
    font-size: 2vw;
    background-color: #FCD900;
    border-radius: 12px;
    border: 2px solid #F2F2F2;



}

#buy:hover {
    background-color: #00B9EA
}

#buy:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Her arbejder vi på vores første sektion:    */

#explainer {
    background-color:;
    grid-column: 2/7;
    margin-top: 10vh;
    justify-content: center;
/*    text-align: center;*/
}

#information {
    grid-column: 8/12;
    margin-top: 10vh;
}


/*Her arbejder vi på anden sektion           */

#billede_first {
    background-image: url(img/explainer.png);
    background-size: 78%;
    background-repeat: no-repeat;
    height: 40vh;
    grid-column: 2/7;
}

#kampagne_video {
    grid-column: 8/11;
}

/*Her arbejder vi på tredje sektion          */

#slut_tekst1 {
    grid-column: 2/7;
}

#slut_tekst2 {
    grid-column: 8/12;
}

#video {
    width: 32vw;
    height: 20vw;
}

/* Her arbejder jeg på media screens          */

@media screen and (max-width: 450px) and (min-width: 300px) {
    #grid_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
    #nav_top {
        grid-column: 1/2;
    }

    #explainer {
        grid-column: 1/2;
    }
    iframe {
        width: 100vw;
    }
    #information {
        grid-column: 1/2;
    }
    #billede_first {
        grid-column: 1/2;
    }
    #kampagne_video {
        grid-column: 1/2;
    }

    #slut_tekst1 {
        grid-column: 1/2;
    }
    #slut_tekst2 {
        grid-column: 1/2;
    }
}

@media screen and (max-width: 720px) and (min-width: 420px) {
    #grid_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
    #nav_top {
        grid-column: 1/2;
    }

    #explainer {
        grid-column: 1/2;
    }
    iframe {
        width: 100vw;
    }
    #information {
        grid-column: 1/2;
    }
}


@media screen and (max-width: 1000px) and (min-width: 800px) {
    #grid_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
    #nav_top {
        grid-column: 1/2;
    }

    #explainer {
        grid-column: 1/2;
    }
    iframe {
        width: 100vw;
    }
    #information {
        grid-column: 1/2;
    }
}
